# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# UV
.venv/
*.egg-info/

# MkDocs
site/

# Node
node_modules/

# OS
.DS_Store

# Logs
*.log
mkdocs.log

# IDE
.vscode/
.idea/

# Backups
*.bak

# Example repositories
examples/