{% extends "base.html" %}

{% block site_meta %}
<!-- Primary Meta Tags -->
<title>Nikhil Thorat</title>
<meta name="title" content="Nikhil Thorat" />
<meta name="description" content="" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://nikubaba.com/" />
<meta property="og:title" content="Nikhil Thorat" />
<meta property="og:description" content="" />
<meta property="og:image" content="https://nikubaba.com/assets/main_image.gif" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://nikubaba.com/" />
<meta property="twitter:title" content="Nikhil Thorat" />
<meta property="twitter:description" content="" />
<meta property="og:image" content="https://nikubaba.com/assets/main_image.gif" />

{% endblock %}