{% extends "base.html" %}

{% block site_meta %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- When the social plugin is fixed, fix this. -->
<meta name="title" content="Lessons of a first time founder" />
<meta name="description" content="" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://nikubaba.com/" />
<meta property="og:title" content="Lessons of a first time founder" />
<meta property="og:description" content="" />
<meta property="og:image" content="https://nikubaba.com/assets/lilac_inc_day.png" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://nikubaba.com/" />
<meta property="twitter:title" content="Lessons of a first time founder" />
<meta property="twitter:description" content="" />

{% endblock %}